:root {
    --col-1: #fffffa;
    --col-2: #78cdd7;
    --col-3: #657ed4;
    --col-4: #2f323a;
    --col-5: #e39ec1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

#top-bar {
    width: 100%;
    padding: 20px 0 20px 0;
    text-align: center;
    border-bottom: 2px;
    border-bottom-style: solid;
    background-color: var(--col-2);
}

#main-div, #menu-bar, #function-div{
    min-width: 500px;
    max-width: 900px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0 auto;
}

#main-div {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

#items-menu {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

#menu-bar, h2, h3 {
    padding: 0 5px 2px 5px;
    margin-top: 10px;
}

#lists-menu, #items-menu {
    border-bottom: 2px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

#list-container, #items-container {
    display: flex;
    flex-direction: column;
}

#lists-container, #items-container{
    height: auto;
}

.list-element {
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.list-element:hover {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.item-element {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.item-element>div {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px 0 5px;
}

.item-element>div:hover {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

#lists-functions, #items-functions, #item-editor {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

#lists-functions>div, #items-functions>div, .buttons {
    width: fit-content;
    padding: 5px;
    border-style: solid;
    border-width: 1px;  
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 20px;
}

#lists-functions>div:hover {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

#items-functions>div:hover {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.buttons:hover{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.buttons {
    width: 80px;
}

/* ---------- item editor ---------- */

#item-editor {
    flex-direction: column;
    width: 500px;
    margin: 20px auto;
}

#item-editor>label {
    font-size: large;
}

#item-editor>input {
    margin: 5px 0 15px 0;
    font-size: medium;
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#item-editor>input:hover {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75); 
}

#item-editor>.buttons {
    margin: 5px 0 5px 0;
    text-align: center;
}

.created-label {
    margin-bottom: 15px;
}

#edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

#edit-buttons>div {
    margin-left: 10px;
    text-align: center;
}

.horizontal-line {
    width: 100%;
    border: 1px solid var(--col-4);
}