* {
    margin: 0;
    padding: 0;
}

body {
	color: white;
	background-color: black;
}

#top-bar {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: darkgreen;
}

#main-div, #menu-bar{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#menu-bar>div {
    margin: 5px;
}

#lists-container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: darkslateblue;
}

.list-element {
    background-color: darkgrey;
    padding: 5px;
    border-style: solid;
    border-width: 1px;

}

#items-container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
}

.item-element {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    background-color: rgb(192, 0, 192);
}

.item-element>div {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}